
    <!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/index.css">
    
    <meta name="Author" content="Elgiva Stephen." />
    <meta name="robots" content="index,follow">
    <meta http-equiv="content-type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Sign up</title>
  </head>
  <body>
   <div class="container">
    <div class="col-md-8 col-sm-10 col-lg-6 m-5" id="form-container">
      <form action="/users/register" method="POST" class="form-group form" >
        <span id="userHead"><h2>Sign Up</h2></span>
        <span id="userHead" class="text-align-center"> <p>Already a member? <a href="/users/login" class="text-decoration-none">Login</a> </p> </span>
        <% include ./partials/messages %>
        <div class="row">
            <div class="col-lg-6">
          <input  type="text" id="firstName" class="form-control my-2 p-2" placeholder="First Name" name="firstName" value="<%= typeof firstName != 'undefined' ? firstName : '' %>" autofocus required> 

          </div>
          <div class="col-lg-6">
          <input  type="text" id="lastName" class="form-control my-2 p-2" placeholder="Last Name" name="lastName" value="<%= typeof lastName != 'undefined' ? lastName : '' %>" required>
          </div>
          </div>
          <input type="text" id="userName" class="form-control my-2 p-2.5" name="userName" value="<%= typeof userName != 'undefined' ? userName : '' %>" placeholder="Username" required>
          <input type="Email" id="email" class="form-control my-2 p-2.5" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" placeholder="Email Address" required>
          <input type="tel" id="phone" class="form-control my-2 p-2.5" name="phone" value="<%= typeof phone != 'undefined' ? phone : '' %>" placeholder="23456789" required>

          <div class="row">
              <div class="col-lg-6">
                <input  type="password" id="password" class="form-control my-2 " name="password" value="<%= typeof password != 'undefined' ? password : '' %>" placeholder="Password" required>
                </div>
            <div class="col-lg-6">   
          <input  type="password" id="password2" class="form-control my-2 " name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" placeholder="Confirm Password" required>
          </div>
          </div>
          <button  type="submit" class="btn color-white text-align-center font-weight-bold form-control my-2">Sign Up</button>
          
       
      </form>
  </div>

       
   </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>