
    <!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="../public/styles/index.css">
    <meta name="Author" content="Elgiva Stephen." />
    <meta name="robots" content="index,follow">
    <meta http-equiv="content-type" content="text/html charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Sign up</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-light bg-white py-1 px-2 border">
          <a class="nav-link" href="/">
              <img src="../public/images/logo.png" class="logo" alt="HNG logo" width="30px">
              <small class="font-weight-bold">
                      HNG MANAGER
                  </small>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa fa-bars"></span>
              </button>
  ​
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/users/login">
                          <button class="action-btn px-4">
                              <small class="text-uppercase font-weight-bold">login</small>
                          </button>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about">
                          <button class="action-btn px-4">
                              <small class="text-uppercase font-weight-bold">about</small>
                         </button>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/faq">
                          <button class="action-btn px-4">
                              <small class="text-uppercase font-weight-bold">faq</small>
                          </button>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="https://hng.tech/">
                          <button class="btn btn-primary btn-sm px-4 text-uppercase font-weight-bold">
                             hng.tech
                          </button>
                      </a>
                  </li>
              </ul>
          </div>
      </nav>

    
   <div class="container">
    <div class="col-md-8 col-sm-10 col-lg-6 m-5" id="form-container">
      <form action="/users/register" method="POST" class="form-group form" >
        <span id="userHead"><h2>Sign Up</h2></span>
        <span id="userHead" class="text-align-center"> <p>Already a member? <a href="/users/login" class="text-decoration-none">Login</a> </p> </span>
        <% include ./partials/messages %>
        <div class="row">
            <div class="col-lg-6">
          <input  type="text" id="firstName" class="form-control my-2 p-2" placeholder="First Name" name="firstName" value="<%= typeof firstName != 'undefined' ? firstName : '' %>" autofocus required> 

          </div>
          <div class="col-lg-6">
          <input  type="text" id="lastName" class="form-control my-2 p-2" placeholder="Last Name" name="lastName" value="<%= typeof lastName != 'undefined' ? lastName : '' %>" required>
          </div>
          </div>
          <input type="text" id="userName" class="form-control my-2 p-2.5" name="userName" value="<%= typeof userName != 'undefined' ? userName : '' %>" placeholder="Username" required>
          <input type="Email" id="email" class="form-control my-2 p-2.5" name="email" value="<%= typeof email != 'undefined' ? email : '' %>" placeholder="Email Address" required>
          <input type="tel" id="phone" class="form-control my-2 p-2.5" name="phone" value="<%= typeof phone != 'undefined' ? phone : '' %>" placeholder="23456789" required>

          <div class="row">
              <div class="col-lg-6">
                <input  type="password" id="password" class="form-control my-2 " name="password" value="<%= typeof password != 'undefined' ? password : '' %>" placeholder="Password" required>
                </div>
            <div class="col-lg-6">   
          <input  type="password" id="password2" class="form-control my-2 " name="password2" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" placeholder="Confirm Password" required>
          </div>
          </div>
          <button  type="submit" class="btn color-white text-align-center font-weight-bold form-control my-2">Sign Up</button>
          
       
      </form>
  </div>

       
   </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>